---
export const prerender = false;
import type { GetStaticPaths } from "astro";
import Header from "@/components/header.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import CategoryWidget from "@/components/category-widget.astro";
import PopularPosts from "@/components/popular-posts.astro";
import TagList from "@/components/tag-list.astro";
import Post from "@/components/post.astro";
import type { Post as PostType } from "@/content/config";
import * as v from "valibot";

const { category } = Astro.params;
if (!category) return Astro.redirect("/404");
// const categoryDescription = await getCollection('category')

const sortOptions = v.union([
  v.literal("latest"),
  v.literal("oldest"),
  v.literal("random"),
]);

type SortQuery = v.InferOutput<typeof sortOptions>;

const sortQueryParse = v.safeParse(
  sortOptions,
  Astro.url.searchParams.get("sort")
);
const sortQuery = sortQueryParse.success ? sortQueryParse.output : undefined;

const sortFuncs: Record<SortQuery, (a: PostType, b: PostType) => number> = {
  latest(a, b) {
    return (
      a.data.dateOfPublishing.getTime() - b.data.dateOfPublishing.getTime()
    );
  },
  oldest(a, b) {
    return (
      b.data.dateOfPublishing.getTime() - a.data.dateOfPublishing.getTime()
    );
  },
  random() {
    return [1, -1, 0][Math.floor(Math.random() * 3)];
  },
};

const categoryPosts = await getCollection(
  "posts",
  (post) => post.data.category.toLowerCase() === category.toLowerCase()
);

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");
  const categories = posts.map((post) => post.data.category.toLowerCase());
  return categories.map((category) => ({
    params: {
      category,
    },
  }));
}) satisfies GetStaticPaths;
---

<Layout>
  <Header />

  <!-- content -->
  <main class="relative">
    <!-- Hero -->
    <div class="text-center border-b border-dashed border-neutral-200">
      <div class="px-6 py-12 mx-auto max-w-2xl">
        <h2
          class="mb-6 text-3xl font-medium capitalize lg:text-3xl font-handwriting"
        >
          {category}
        </h2>
        <div class="relative max-w-[150px] mx-auto mb-6">
          <div class="w-full h-1 border-b-2 border-dashed border-neutral-200">
          </div>
          <div
            class="absolute -top-2.5 rounded-full border-2 border-dashed translate-x-2.5 end-1/2 size-6 bg-neutral-100 border-neutral-200"
          >
          </div>
        </div>
        <!-- <p class="text-lg text-neutral-500">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry’s standard dummy text ever
          since
        </p> -->
      </div>
    </div>

    <!-- container -->
    <div
      class="container flex flex-col gap-4 px-4 mx-auto xl:max-w-6xl lg:gap-6"
    >
      <!-- layout -->
      <div class="grid grid-cols-1 gap-4 py-6 lg:grid-cols-3 lg:gap-6 lg:py-12">
        <!-- sidebar -->
        <aside class="max-lg:order-2 lg:col-span-1 lg:pe-6">
          <div class="flex flex-col gap-4 lg:gap-6 hc-sticky">
            <CategoryWidget />

            <PopularPosts />

            <TagList />
          </div>
        </aside>

        <div class="max-lg:order-1 max-lg:mb-12 lg:col-span-2">
          <div class="flex justify-between items-center">
            <h2
              class="pb-2 text-lg font-medium border-b border-dashed border-neutral-200"
            >
              <!-- Latest from {category} -->
            </h2>
            <ul class="flex gap-2">
              <a
                href={`${Astro.url.pathname}?sort=${sortQuery === "oldest" ? "latest" : "oldest"}`}
                class:list={[
                  "bi block bg-neutral-100 px-2 py-1 border-2 border-neutral-300 rounded focus:bg-neutral-300 hover:bg-neutral-200",
                  sortQuery === "oldest" ? "bi-arrow-up" : " bi-arrow-down",
                ]}
              >
              </a>
              <a
                href={Astro.url.pathname + "?sort=random"}
                class="block px-2 py-1 rounded border-2 bi bi-shuffle bg-neutral-100 border-neutral-300 focus:bg-neutral-300 hover:bg-neutral-200"
              ></a>
            </ul>
          </div>

          <!-- loop post -->
          <div class="flex flex-col">
            {
              categoryPosts
                .sort((a, b) => {
                  switch (sortQuery) {
                    case "latest":
                      return sortFuncs.latest(a, b);
                    case "oldest":
                      return sortFuncs.oldest(a, b);
                    case "random":
                      return sortFuncs.random(a, b);
                    default:
                      return sortFuncs.latest(a, b);
                  }
                })
                .map((post) => (
                  /// <!-- post item -->
                  <Post {post} />
                ))
            }
          </div>

          <!-- navigation -->
          <div
            class="flex gap-3 justify-end items-center py-4 border-t border-dashed border-neutral-200"
          >
            <a
              class="flex gap-2 items-center text-sm text-neutral-500 hover:text-black"
              href="#"
              x-data
              x-text="new URL(location.href).searchParams.get('sort') === 'oldest' ? 'Latest Posts' : 'Oldest Posts'"
              >Older Posts

              <i class="bi bi-arrow-right"></i></a
            >
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
