---
import Header from "@/components/header/index.astro";
import Layout from "../layouts/Layout.astro";
import {Image} from 'astro:assets'
---

<Layout>
  <!-- header -->
  <Header />

  <!-- content -->
  <main class="relative">
    <!-- Hero -->
    <div class="text-center border-b border-dashed border-neutral-200">
      <div class="max-w-2xl mx-auto py-12 px-6">
        <img loading="lazy"    src="/img/personal/avatar.jpeg" alt="avatar" height={64} width={64} / class="size-24 rounded-full mb-2 mx-auto">
        <h2 class="text-2xl lg:text-3xl font-medium mb-6">Jesicca Thomson</h2>
        <div class="relative max-w-[150px] mx-auto mb-6">
          <div class="h-1 border-b-2 border-dashed border-neutral-200 w-full"></div>
          <div class="absolute end-1/2 translate-x-2.5 -top-2.5 size-6 rounded-full bg-neutral-100 border-2 border-dashed border-neutral-200"></div>
        </div>
        <p class="text-lg text-neutral-500 mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since</p>
        <div class="flex justify-center items-center">
          <a href="#" class="p-2 hover:opacity-80">
            <i class="bi bi-facebook"/>
          </a>
          <a href="#" class="p-2 hover:opacity-80">
            <i class="bi bi-instagram"/>
          </a>
          <a href="#" class="p-2 hover:opacity-80">
            <i class="bi bi-twitter-x"/>
          </a>
          <a href="#" class="p-2 hover:opacity-80">
            <i class="bi bi-linkedin"/>
          </a>
          <a href="#" class="p-2 hover:opacity-80">
            <i class="bi bi-tiktok"/>
          </a>
        </div>
      </div>
    </div>

    <!-- container -->
    <div class="container xl:max-w-6xl mx-auto px-4 flex flex-col gap-4 lg:gap-6">
      <!-- layout -->
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-6 py-6 lg:py-12">
        <!-- sidebar -->
        <aside class="max-lg:order-2 lg:col-span-1 lg:pe-6">
          <div class="flex flex-col gap-4 lg:gap-6 hc-sticky">
            <!-- widget -->
            <div class="bg-neutral-50 border border-dashed border-neutral-200">
              <h3 class="w-full px-6 py-3 border-b border-dashed border-neutral-200">Category</h3>
              <div class="py-3 px-6">
                <ul class="flex flex-col">
                  <li class="relative">
                    <a href="#" class="flex items-center gap-3 justify-between py-1.5 hover:text-black">
                      <span>Travel</span>
                      <span>(6)</span>
                    </a>
                  </li>
                  <li class="relative">
                    <a href="#" class="flex items-center gap-3 justify-between py-1.5 hover:text-black">
                      <span>Gadgets</span>
                      <span>(4)</span>
                    </a>
                  </li>
                  <li class="relative">
                    <a href="#" class="flex items-center gap-3 justify-between py-1.5 hover:text-black">
                      <span>Daily Vlog</span>
                      <span>(2)</span>
                    </a>
                  </li>
                  <li class="relative">
                    <a href="#" class="flex items-center gap-3 justify-between py-1.5 hover:text-black">
                      <span>Foods</span>
                      <span>(7)</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- widget -->
            <div class="bg-neutral-50 border border-dashed border-neutral-200">
              <h3 class="w-full px-6 py-3 border-b border-dashed border-neutral-200">Popular Post</h3>
              <div class="p-6 flex flex-col">
                <!-- item -->
                <a href="#" class="flex gap-2 py-3 border-b border-dashed last:border-b-0 border-neutral-200">
                  <img loading="lazy"    src="/img/blogs/8.jpg" alt="image" class="size-16" height={64} width={64} />
                  <div class="flex flex-col gap-1">
                    <h4 class="text-sm capitalize hover:text-black">Embracing A Leisurely Pace In A Fast-Paced ...</h4>
                    <span class="text-neutral-500 text-sm">12 May, 2024</span>
                  </div>
                </a>
                <!-- item -->
                <a href="#" class="flex gap-2 py-3 border-b border-dashed last:border-b-0 border-neutral-200">
                  <img loading="lazy"    src="/img/blogs/2.jpg" alt="image" class="size-16" height={64} width={64} />
                  <div class="flex flex-col gap-1">
                    <h4 class="text-sm capitalize hover:text-black">How To Stay Productive While Traveling For ...</h4>
                    <span class="text-neutral-500 text-sm">12 May, 2024</span>
                  </div>
                </a>
                <!-- item -->
                <a href="#" class="flex gap-2 py-3 border-b border-dashed last:border-b-0 border-neutral-200">
                  <img loading="lazy"    src="/img/blogs/5.jpg" alt="image" class="size-16" height={64} width={64} />
                  <div class="flex flex-col gap-1">
                    <h4 class="text-sm capitalize hover:text-black">Master Photography: Tips For Capturing ...</h4>
                    <span class="text-neutral-500 text-sm">12 May, 2024</span>
                  </div>
                </a>
                <!-- item -->
                <a href="#" class="flex gap-2 py-3 border-b border-dashed last:border-b-0 border-neutral-200">
                  <img loading="lazy"    src="/img/blogs/1.jpg" alt="image" class="size-16" height={64} width={64} />
                  <div class="flex flex-col gap-1">
                    <h4 class="text-sm capitalize hover:text-black">The Tourist Destination That You Must Visit ...</h4>
                    <span class="text-neutral-500 text-sm">12 May, 2024</span>
                  </div>
                </a>
              </div>
            </div>

            <!-- widget -->
            <div class="bg-neutral-50 border border-dashed border-neutral-200">
              <h3 class="w-full px-6 py-3 border-b border-dashed border-neutral-200">Tags</h3>
              <div class="p-6">
                <ul class="flex flex-wrap items-center gap-2 text-sm">
                  <li>
                    <a href="#" class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200">travel</a>
                  </li>
                  <li>
                    <a href="#" class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200">food</a>
                  </li>
                  <li>
                    <a href="#" class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200">review</a>
                  </li>
                  <li>
                    <a href="#" class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200">vlog</a>
                  </li>
                  <li>
                    <a href="#" class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200">product</a>
                  </li>
                  <li>
                    <a href="#" class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200">lifestyle</a>
                  </li>
                  <li>
                    <a href="#" class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200">health</a>
                  </li>
                  <li>
                    <a href="#" class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200">tips</a>
                  </li>
                  <li>
                    <a href="#" class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200">work</a>
                  </li>
                  <li>
                    <a href="#" class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200">hobby</a>
                  </li>
                  <li>
                    <a href="#" class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200">DIY</a>
                  </li>
                  <li>
                    <a href="#" class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200">tech</a>
                  </li>
                  <li>
                    <a href="#" class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200">AI</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </aside>

        <div class="max-lg:order-1 max-lg:mb-12 lg:col-span-2">
          <h2 class="text-lg uppercase font-medium border-b border-dashed border-neutral-200 pb-2">Posts by Jesicca</h2>
          <!-- loop post -->
          <div class="flex flex-col">
            <!-- post item -->
            <article class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 py-8 border-b border-dashed border-neutral-200 last:border-b-0">
              <!--thumbnail-->
              <div class="aspect-[2/1] md:aspect-[3/2] overflow-hidden w-full bg-neutral-100">
                <a href="#">
                  <img loading="lazy"    class="w-full"   / src="/img/blogs/1.jpg" alt="image">
                </a>
              </div>

              <!--content-->
              <div class="flex flex-col justify-start gap-2">
                <!--title-->
                <h3 class="text-xl capitalize">
                  <a href="#">The tourist destination that you must visit while on vacation in Bali</a>
                </h3>
                <div class="flex items-center gap-3 text-sm text-neutral-500">
                  <!--author-->
                  <a href="#" rel="author"><i class="bi bi-person me-1"/>yasir</a>    
                  <!--date-->
                  <time class="news-date" datetime="2024-06-16"><i class="bi bi-calendar me-1"/>Jun 16, 2024</time>
                </div>
                <!--description-->
                <p class="text-neutral-500 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since...</p>

                <div class="relative">
                  <a href="#" class="inline-flex py-2 px-4 bg-neutral-100 hover:bg-neutral-200/80 border border-dashed border-neutral-200">Read More</a>
                </div>
              </div>
            </article>

            <!-- post item -->
            <article class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 py-8 border-b border-dashed border-neutral-200 last:border-b-0">
              <!--thumbnail-->
              <div class="aspect-[2/1] md:aspect-[3/2] overflow-hidden w-full bg-neutral-100">
                <a href="#">
                  <img loading="lazy"    class="w-full"   / src="/img/blogs/3.jpg" alt="image">
                </a>
              </div>

              <!--content-->
              <div class="flex flex-col justify-start gap-2">
                <!--title-->
                <h3 class="text-xl capitalize">
                  <a href="#">Top 10 Must-Try Street Foods Around the World</a>
                </h3>
                <div class="flex items-center gap-3 text-sm text-neutral-500">
                  <!--author-->
                  <a href="#" rel="author"><i class="bi bi-person me-1"/>yasir</a>    
                  <!--date-->
                  <time class="news-date" datetime="2024-06-16"><i class="bi bi-calendar me-1"/>Jun 16, 2024</time>
                </div>
                <!--description-->
                <p class="text-neutral-500 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since...</p>
                <div class="relative">
                  <a href="#" class="inline-flex py-2 px-4 bg-neutral-100 hover:bg-neutral-200/80 border border-dashed border-neutral-200">Read More</a>
                </div>
              </div>
            </article>

            <!-- post item -->
            <article class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 py-8 border-b border-dashed border-neutral-200 last:border-b-0">
              <!--thumbnail-->
              <div class="aspect-[2/1] md:aspect-[3/2] overflow-hidden w-full bg-neutral-100">
                <a href="#">
                  <img loading="lazy"    class="w-full"   / src="/img/blogs/2.jpg" alt="image">
                </a>
              </div>

              <!--content-->
              <div class="flex flex-col justify-start gap-2">
                <!--title-->
                <h3 class="text-xl capitalize">
                  <a href="#">How to Stay Productive While Traveling for Business</a>
                </h3>
                <div class="flex items-center gap-3 text-sm text-neutral-500">
                  <!--author-->
                  <a href="#" rel="author"><i class="bi bi-person me-1"/>yasir</a>    
                  <!--date-->
                  <time class="news-date" datetime="2024-06-16"><i class="bi bi-calendar me-1"/>Jun 16, 2024</time>
                </div>
                <!--description-->
                <p class="text-neutral-500 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since...</p>

                <div class="relative">
                  <a href="#" class="inline-flex py-2 px-4 bg-neutral-100 hover:bg-neutral-200/80 border border-dashed border-neutral-200">Read More</a>
                </div>
              </div>
            </article>

            <!-- post item -->
            <article class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 py-8 border-b border-dashed border-neutral-200 last:border-b-0">
              <!--thumbnail-->
              <div class="aspect-[2/1] md:aspect-[3/2] overflow-hidden w-full bg-neutral-100">
                <a href="#">
                  <img loading="lazy"    class="w-full"   / src="/img/blogs/4.jpg" alt="image">
                </a>
              </div>

              <!--content-->
              <div class="flex flex-col justify-start gap-2">
                <!--title-->
                <h3 class="text-xl capitalize">
                  <a href="#">Exploring the Virtual Reality: A Technological Revolution in Travel</a>
                </h3>
                <div class="flex items-center gap-3 text-sm text-neutral-500">
                  <!--author-->
                  <a href="#" rel="author"><i class="bi bi-person me-1"/>yasir</a>    
                  <!--date-->
                  <time class="news-date" datetime="2024-06-16"><i class="bi bi-calendar me-1"/>Jun 16, 2024</time>
                </div>
                <!--description-->
                <p class="text-neutral-500 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since...</p>
                <div class="relative">
                  <a href="#" class="inline-flex py-2 px-4 bg-neutral-100 hover:bg-neutral-200/80 border border-dashed border-neutral-200">Read More</a>
                </div>
              </div>
            </article>

            <!-- post item -->
            <article class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 py-8 border-b border-dashed border-neutral-200 last:border-b-0">
              <!--thumbnail-->
              <div class="aspect-[2/1] md:aspect-[3/2] overflow-hidden w-full bg-neutral-100">
                <a href="#">
                  <img loading="lazy"    class="w-full"   / src="/img/blogs/5.jpg" alt="image">
                </a>
              </div>

              <!--content-->
              <div class="flex flex-col justify-start gap-2">
                <!--title-->
                <h3 class="text-xl capitalize">
                  <a href="#">Master Photography: Tips for Capturing Stunning Moments</a>
                </h3>
                <div class="flex items-center gap-3 text-sm text-neutral-500">
                  <!--author-->
                  <a href="#" rel="author"><i class="bi bi-person me-1"/>yasir</a>    
                  <!--date-->
                  <time class="news-date" datetime="2024-06-16"><i class="bi bi-calendar me-1"/>Jun 16, 2024</time>
                </div>
                <!--description-->
                <p class="text-neutral-500 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since...</p>

                <div class="relative">
                  <a href="#" class="inline-flex py-2 px-4 bg-neutral-100 hover:bg-neutral-200/80 border border-dashed border-neutral-200">Read More</a>
                </div>
              </div>
            </article>

            <!-- post item -->
            <article class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 py-8 border-b border-dashed border-neutral-200 last:border-b-0">
              <!--thumbnail-->
              <div class="aspect-[2/1] md:aspect-[3/2] overflow-hidden w-full bg-neutral-100">
                <a href="#">
                  <img loading="lazy"    class="w-full"   / src="/img/blogs/6.jpg" alt="image">
                </a>
              </div>

              <!--content-->
              <div class="flex flex-col justify-start gap-2">
                <!--title-->
                <h3 class="text-xl capitalize">
                  <a href="#">How to Work and Travel Successfully in the Digital Age</a>
                </h3>
                <div class="flex items-center gap-3 text-sm text-neutral-500">
                  <!--author-->
                  <a href="#" rel="author"><i class="bi bi-person me-1"/>yasir</a>    
                  <!--date-->
                  <time class="news-date" datetime="2024-06-16"><i class="bi bi-calendar me-1"/>Jun 16, 2024</time>
                </div>
                <!--description-->
                <p class="text-neutral-500 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since...</p>
                <div class="relative">
                  <a href="#" class="inline-flex py-2 px-4 bg-neutral-100 hover:bg-neutral-200/80 border border-dashed border-neutral-200">Read More</a>
                </div>
              </div>
            </article>

            <!-- post item -->
            <article class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 py-8 border-b border-dashed border-neutral-200 last:border-b-0">
              <!--thumbnail-->
              <div class="aspect-[2/1] md:aspect-[3/2] overflow-hidden w-full bg-neutral-100">
                <a href="#">
                  <img loading="lazy"    class="w-full"   / src="/img/blogs/7.jpg" alt="image">
                </a>
              </div>

              <!--content-->
              <div class="flex flex-col justify-start gap-2">
                <!--title-->
                <h3 class="text-xl capitalize">
                  <a href="#">The Art of Balancing Travel and Wellness: Tips for a Healthy Journey</a>
                </h3>
                <div class="flex items-center gap-3 text-sm text-neutral-500">
                  <!--author-->
                  <a href="#" rel="author"><i class="bi bi-person me-1"/>yasir</a>    
                  <!--date-->
                  <time class="news-date" datetime="2024-06-16"><i class="bi bi-calendar me-1"/>Jun 16, 2024</time>
                </div>
                <!--description-->
                <p class="text-neutral-500 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since...</p>

                <div class="relative">
                  <a href="#" class="inline-flex py-2 px-4 bg-neutral-100 hover:bg-neutral-200/80 border border-dashed border-neutral-200">Read More</a>
                </div>
              </div>
            </article>

            <!-- post item -->
            <article class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 py-8 border-b border-dashed border-neutral-200 last:border-b-0">
              <!--thumbnail-->
              <div class="aspect-[2/1] md:aspect-[3/2] overflow-hidden w-full bg-neutral-100">
                <a href="#">
                  <img loading="lazy"    class="w-full"   / src="/img/blogs/8.jpg" alt="image">
                </a>
              </div>

              <!--content-->
              <div class="flex flex-col justify-start gap-2">
                <!--title-->
                <h3 class="text-xl capitalize">
                  <a href="#">Embracing a Leisurely Pace in a Fast-paced World</a>
                </h3>
                <div class="flex items-center gap-3 text-sm text-neutral-500">
                  <!--author-->
                  <a href="#" rel="author"><i class="bi bi-person me-1"/>yasir</a>    
                  <!--date-->
                  <time class="news-date" datetime="2024-06-16"><i class="bi bi-calendar me-1"/>Jun 16, 2024</time>
                </div>
                <!--description-->
                <p class="text-neutral-500 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since...</p>
                <div class="relative">
                  <a href="#" class="inline-flex py-2 px-4 bg-neutral-100 hover:bg-neutral-200/80 border border-dashed border-neutral-200">Read More</a>
                </div>
              </div>
            </article>
          </div>

          <!-- navigation -->
          <div class="flex items-center justify-end gap-3 py-4 border-t border-dashed border-neutral-200">
            <a class="uppercase text-neutral-500 hover:text-black flex items-center text-sm gap-2" href="#">Older Posts <i class="bi bi-arrow-right"/></a>
          </div>
        </div>
      </div>
    </div>
  </main>

  

</Layout>