---
import Header from "@/components/header/index.astro";
import Layout from "../layouts/Layout.astro";
import {Image} from 'astro:assets'
---

<Layout>
  <Header/>

  <!-- content -->
  <main class="relative">
    <!-- Hero -->
    <div class="text-center border-b border-dashed border-neutral-200">
      <div class="max-w-2xl mx-auto py-12 px-6">
        <h2 class="text-6xl font-medium mb-4">Coming Soon</h2>
        <!-- <h3 class="text-2xl lg:text-3xl font-medium mb-6">Coming </h3> -->
        <div class="relative max-w-[150px] mx-auto mb-6">
          <div class="h-1 border-b-2 border-dashed border-neutral-200 w-full"></div>
          <div class="absolute end-1/2 translate-x-2.5 -top-2.5 size-6 rounded-full bg-neutral-100 border-2 border-dashed border-neutral-200"></div>
        </div>
        <p class="text-lg text-neutral-500 mb-6">The page you are looking for is under development, will be available soon. Stay Tuned !</p>

        <a href="/" class="mx-auto inline-flex py-2 px-4 bg-neutral-100 hover:bg-neutral-200/80 border border-dashed border-neutral-200">Back to Homepage</a>
      </div>
    </div>
  </main>


  
</Layout>