---
import Header from "@/components/header/index.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout>
  <Header />

  <!-- content -->
  <main class="relative">
    <!-- container -->
    <div
      class="container xl:max-w-6xl mx-auto px-4 flex flex-col gap-4 lg:gap-6"
    >
      <!-- layout -->
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-6 py-6">
        <!-- sidebar -->
        <aside class="max-lg:order-2 lg:col-span-1 lg:pe-6">
          <div class="flex flex-col gap-4 lg:gap-6 hc-sticky">
            <!-- widget -->
            <div class="bg-neutral-50 border border-dashed border-neutral-200">
              <h3
                class="w-full px-6 py-3 border-b border-dashed border-neutral-200"
              >
                Category
              </h3>
              <div class="py-3 px-6">
                <ul class="flex flex-col">
                  <li class="relative">
                    <a
                      href="#"
                      class="flex items-center gap-3 justify-between py-1.5 hover:text-black"
                    >
                      <span>Travel</span>
                      <span>(6)</span>
                    </a>
                  </li>
                  <li class="relative">
                    <a
                      href="#"
                      class="flex items-center gap-3 justify-between py-1.5 hover:text-black"
                    >
                      <span>Gadgets</span>
                      <span>(4)</span>
                    </a>
                  </li>
                  <li class="relative">
                    <a
                      href="#"
                      class="flex items-center gap-3 justify-between py-1.5 hover:text-black"
                    >
                      <span>Daily Vlog</span>
                      <span>(2)</span>
                    </a>
                  </li>
                  <li class="relative">
                    <a
                      href="#"
                      class="flex items-center gap-3 justify-between py-1.5 hover:text-black"
                    >
                      <span>Foods</span>
                      <span>(7)</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- widget -->
            <div class="bg-neutral-50 border border-dashed border-neutral-200">
              <h3
                class="w-full px-6 py-3 border-b border-dashed border-neutral-200"
              >
                Popular Post
              </h3>
              <div class="p-6 flex flex-col">
                <!-- item -->
                <a
                  href="#"
                  class="flex gap-2 py-3 border-b border-dashed last:border-b-0 border-neutral-200"
                >
                  <img loading="lazy"   
                    src="/img/blogs/8.jpg"
                    alt="image"
                    class="size-16"
                    height={64}
                    width={64}
                  />
                  <div class="flex flex-col gap-1">
                    <h4 class="text-sm capitalize hover:text-black">
                      Embracing A Leisurely Pace In A Fast-Paced ...
                    </h4>
                    <span class="text-neutral-500 text-sm">12 May, 2024</span>
                  </div>
                </a>
                <!-- item -->
                <a
                  href="#"
                  class="flex gap-2 py-3 border-b border-dashed last:border-b-0 border-neutral-200"
                >
                  <img loading="lazy"   
                    src="/img/blogs/2.jpg"
                    alt="image"
                    class="size-16"
                    height={64}
                    width={64}
                  />
                  <div class="flex flex-col gap-1">
                    <h4 class="text-sm capitalize hover:text-black">
                      How To Stay Productive While Traveling For ...
                    </h4>
                    <span class="text-neutral-500 text-sm">12 May, 2024</span>
                  </div>
                </a>
                <!-- item -->
                <a
                  href="#"
                  class="flex gap-2 py-3 border-b border-dashed last:border-b-0 border-neutral-200"
                >
                  <img loading="lazy"   
                    src="/img/blogs/5.jpg"
                    alt="image"
                    class="size-16"
                    height={64}
                    width={64}
                  />
                  <div class="flex flex-col gap-1">
                    <h4 class="text-sm capitalize hover:text-black">
                      Master Photography: Tips For Capturing ...
                    </h4>
                    <span class="text-neutral-500 text-sm">12 May, 2024</span>
                  </div>
                </a>
                <!-- item -->
                <a
                  href="#"
                  class="flex gap-2 py-3 border-b border-dashed last:border-b-0 border-neutral-200"
                >
                  <img loading="lazy"   
                    src="/img/blogs/1.jpg"
                    alt="image"
                    class="size-16"
                    height={64}
                    width={64}
                  />
                  <div class="flex flex-col gap-1">
                    <h4 class="text-sm capitalize hover:text-black">
                      The Tourist Destination That You Must Visit ...
                    </h4>
                    <span class="text-neutral-500 text-sm">12 May, 2024</span>
                  </div>
                </a>
              </div>
            </div>

            <!-- widget -->
            <div class="bg-neutral-50 border border-dashed border-neutral-200">
              <h3
                class="w-full px-6 py-3 border-b border-dashed border-neutral-200"
              >
                Tags
              </h3>
              <div class="p-6">
                <ul class="flex flex-wrap items-center gap-2 text-sm">
                  <li>
                    <a
                      href="#"
                      class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                      >travel</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                      >food</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                      >review</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                      >vlog</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                      >product</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                      >lifestyle</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                      >health</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                      >tips</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                      >work</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                      >hobby</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                      >DIY</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                      >tech</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                      >AI</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </aside>

        <div class="max-lg:order-1 max-lg:mb-12 lg:col-span-2 py-4">
          <h1
            class="text-2xl md:text-3xl font-medium border-b border-dashed border-neutral-200 pb-3"
          >
            Contact Us
          </h1>
          <!-- post -->
          <div class="relative post-content pt-4">
            <p>
              Thank you for your interest in reaching out to us! At [Company
              Name], we value your feedback, inquiries, and any other
              communication you may have. Whether you have questions about our
              products, services, or would simply like to provide suggestions,
              our dedicated team is here to assist you.
            </p>

            <p>
              Feel free to get in touch with us through the following channels:
            </p>

            <div class="flex flex-col gap-1 mb-12">
              <div><i class="bi bi-envelope"/>: Support@mail.com</div>
              <div><i class="bi bi-telephone"/>: (+123) 456 7890</div>
              <div><i class="bi bi-whatsapp"/>: (+123) 456 7890</div>
              <div><i class="bi bi-skype"/>: Support@mail.com</div>
            </div>

            <div id="comment-form">
              <h4 class="text-xl leading-normal mb-2">Send Message</h4>
              <p class="mb-6">
                We strive to respond to all emails promptly and ensure that your
                questions are answered thoroughly.
              </p>
              <div>
                <form action="#" novalidate="">
                  <div class="mt-2"></div>
                  <div class="mb-6">
                    <textarea
                      class="w-full leading-5 relative py-3 px-5 text-neutral-800 bg-white border border-neutral-200 overflow-x-auto focus:outline-none focus:border-neutral-400 focus:ring-0"
                      placeholder="Message"
                      aria-label="insert comment"
                      rows="4"
                      required=""></textarea>
                  </div>
                  <div class="mb-6">
                    <input
                      class="w-full leading-5 relative py-3 px-5 text-neutral-800 bg-white border border-neutral-200 overflow-x-auto focus:outline-none focus:border-neutral-400 focus:ring-0"
                      placeholder="Name"
                      aria-label="name"
                      type="text"
                      required=""
                    />
                  </div>
                  <div class="mb-6">
                    <input
                      class="w-full leading-5 relative py-3 px-5 text-neutral-800 bg-white border border-neutral-200 overflow-x-auto focus:outline-none focus:border-neutral-400 focus:ring-0"
                      placeholder="Email"
                      aria-label="email"
                      type="text"
                      required=""
                    />
                  </div>
                  <button
                    type="submit"
                    class="flex items-center py-3 px-5 leading-5 text-neutral-100 bg-black hover:text-white hover:bg-neutral-900 hover:ring-0 focus:outline-none focus:ring-0"
                    >Send Message</button
                  >
                </form>
              </div>
            </div>
          </div>
          <!-- navigation -->
          <div
            class="flex items-center justify-end gap-3 py-4 border-t border-dashed border-neutral-200"
          >
          </div>
        </div>
      </div>
    </div>
  </main>
  
</Layout>
