---
import Header from "@/components/header.astro";
import CategoryWidget from "@/components/category-widget.astro";
import PopularPosts from "@/components/popular-posts.astro";
import TagList from "@/components/tag-list.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";


---

<Layout>
  <Header />
  <!-- content -->
  <main class="relative">
    <!-- container -->
    <div
      class="container flex flex-col gap-4 px-4 mx-auto xl:max-w-6xl lg:gap-6"
    >
      <!-- layout -->
      <div class="grid grid-cols-1 gap-4 py-6 lg:grid-cols-3 lg:gap-6">
        <!-- sidebar -->
        <aside class="max-lg:order-2 lg:col-span-1 lg:pe-6">
          <div class="flex flex-col gap-4 lg:gap-6 hc-sticky">
            <CategoryWidget />

            <PopularPosts />

            <TagList />
          </div>
        </aside>

        <div class="py-4 max-lg:order-1 max-lg:mb-12 lg:col-span-2">
          <h1
            class="pb-3 text-2xl font-medium border-b border-dashed md:text-3xl border-neutral-200"
          >
            Contact Us
          </h1>
          <!-- post -->
          <div class="relative pt-4 post-content">
            <p>
              Thank you for your interest in reaching out to us! At [Company
              Name], we value your feedback, inquiries, and any other
              communication you may have. Whether you have questions about our
              products, services, or would simply like to provide suggestions,
              our dedicated team is here to assist you.
            </p>

            <p>
              Feel free to get in touch with us through the following channels:
            </p>

            <div class="flex flex-col gap-1 mb-12">
              <div><i class="bi bi-envelope"/>: voumyblog@gmail.com</div>
              <!-- <div><i class="bi bi-telephone"/>: (+123) 456 7890</div> -->
              <!-- <div><i class="bi bi-whatsapp"/>: (+123) 456 7890</div> -->
              <div><i class="bi bi-instagram"/>: @voumy5</div>
            </div>

            <div id="comment-form">
              <h4 class="mb-2 text-xl leading-normal">Send Message</h4>
              <p class="mb-6">
                We strive to respond to all emails promptly and ensure that your
                questions are answered thoroughly.
              </p>
              <div>
                <form id="contact" action="#" novalidate="" >
                  <div class="mt-2"></div>
                  <div class="mb-6">
                    <textarea
                      class="overflow-x-auto relative px-5 py-3 w-full leading-5 bg-white border text-neutral-800 border-neutral-200 focus:outline-none focus:border-neutral-400 focus:ring-0"
                      placeholder="Message"
                      aria-label="insert comment"
                      rows="4"
                      required=""></textarea>
                  </div>
                  <div class="mb-6">
                    <input
                      class="overflow-x-auto relative px-5 py-3 w-full leading-5 bg-white border text-neutral-800 border-neutral-200 focus:outline-none focus:border-neutral-400 focus:ring-0"
                      placeholder="Name"
                      aria-label="name"
                      type="text"
                      required=""
                    />
                  </div>
                  <div class="mb-6">
                    <input
                      class="overflow-x-auto relative px-5 py-3 w-full leading-5 bg-white border text-neutral-800 border-neutral-200 focus:outline-none focus:border-neutral-400 focus:ring-0"
                      placeholder="Email"
                      aria-label="email"
                      type="text"
                      required=""
                    />
                  </div>
                  <button
                    type="submit"
                    class="flex items-center px-5 py-3 leading-5 bg-black text-neutral-100 hover:text-white hover:bg-neutral-900 hover:ring-0 focus:outline-none focus:ring-0"
                    >Send Message</button
                  >
                </form>
              </div>
            </div>
          </div>
          <!-- navigation -->
          <div
            class="flex gap-3 justify-end items-center py-4 border-t border-dashed border-neutral-200"
          >
          </div>
        </div>
      </div>
    </div>
  </main>
  
</Layout>
