---

return Astro.redirect('/coming-soon')

import Header from "@/components/header.astro";
import Layout from "../layouts/Layout.astro";
import {Image} from 'astro:assets'
---

<Layout>
    <Header />

    <!-- content -->
    <main class="relative">
      <!-- hero -->
      <div class="text-center border-b border-dashed border-neutral-200">
        <div class="max-w-2xl mx-auto py-12 px-6">
          <h2 class="text-2xl lg:text-3xl font-medium">Documentation</h2>
        </div>
      </div>

      <!-- container -->
      <div
        class="container xl:max-w-6xl mx-auto px-4 flex flex-col gap-4 lg:gap-6"
      >
        <!-- layout -->
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-6 py-6">
          <!-- sidebar -->
          <aside class="max-lg:mb-10 lg:col-span-1 lg:pe-6">
            <div class="flex flex-col gap-4 lg:gap-6 hc-sticky">
              <!-- widget -->
              <div
                class="bg-neutral-50 border border-dashed border-neutral-200"
              >
                <h3
                  class="w-full px-6 py-3 border-b border-dashed border-neutral-200"
                >
                  Menu
                </h3>
                <div class="py-3 px-6">
                  <ul class="flex flex-col">
                    <li class="relative">
                      <a
                        href="#docs1"
                        class="flex items-center gap-3 justify-between py-1.5 hover:text-black"
                      >
                        <span>Introcluding</span>
                      </a>
                    </li>
                    <li class="relative">
                      <a
                        href="#docs2"
                        class="flex items-center gap-3 justify-between py-1.5 hover:text-black"
                      >
                        <span>How to start?</span>
                      </a>
                    </li>
                    <li class="relative">
                      <a
                        href="#docs3"
                        class="flex items-center gap-3 justify-between py-1.5 hover:text-black"
                      >
                        <span>Customize Css</span>
                      </a>
                    </li>
                    <li class="relative">
                      <a
                        href="#docs4"
                        class="flex items-center gap-3 justify-between py-1.5 hover:text-black"
                      >
                        <span>Customize Js</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </aside>

          <div class="max-lg:mb-12 lg:col-span-2">
            <div id="docs1" class="relative mb-12">
              <h2
                class="text-lg uppercase font-medium border-b border-dashed border-neutral-200 pb-2"
              >
                Introcluding
              </h2>
              <!-- relative -->
              <div class="relative py-6">
                <h2 class="text-xl font-semibold mb-3">
                  Neutral - Tailwind CSS Blog Template
                </h2>

                <p class="mb-4">
                  Minimalism meets elegance in the "Neutral" blog template,
                  meticulously crafted with Tailwind CSS and Alpine.js. Designed
                  to streamline your development process while offering a
                  visually appealing and functional starting point for your
                  simple blog site needs.
                </p>
                <p>
                  <span class="font-semibold">Starting a Simple Blog Site:</span
                  > Whether you're a beginner exploring the world of web development
                  or an experienced developer looking for a quick and efficient solution,
                  "Neutral" offers the perfect foundation for launching your blog
                  site with style and sophistication.
                </p>
              </div>
            </div>

            <div id="docs2" class="relative mb-12">
              <h2
                class="text-lg uppercase font-medium border-b border-dashed border-neutral-200 pb-2"
              >
                How to start?
              </h2>
              <!-- relative -->
              <div class="relative py-6">
                <h2 class="text-xl font-semibold mb-3">Tools & Setup</h2>
                <p class="mb-4">
                  Neutral uses NPM scripts for its build system. Our <code
                    class="text-pink-700">package.json</code
                  > includes convenient methods for working with the framework, including
                  compiling code, running tests, and more.
                </p>
                <p>
                  To use our build system and run our documentation locally,
                  you'll need a copy of theme's source files and Node. Follow
                  these steps and you should be ready to rock:
                </p>
                <ul class="list-decimal list-inside pl-8 my-4">
                  <li class="mb-2">
                    <a class="text-pink-700" href="https://nodejs.org/download/"
                      >Download and install Node.js</a
                    >, which we use to manage our dependencies.
                  </li>
                  <li class="mb-2">
                    Run <code class="text-pink-700"
                      >npm install --global gulp-cli</code
                    > command. If you already installed Gulp CLI previously, you
                    can skip this step and jump to step 3.
                  </li>
                  <li class="mb-2">
                    Navigate to the root <code class="text-pink-700"
                      >neutral/</code
                    > directory and run <code
                      class="text-white p-2 bg-black rounded">npm install</code
                    >.
                  </li>
                  <li class="mb-2">
                    After Npm install complete, run <code
                      class="text-white p-2 bg-black rounded">npm run dev</code
                    > to start development.
                  </li>
                </ul>
                <p>Yup, that's it.</p>
              </div>
            </div>

            <div id="docs3" class="relative mb-12">
              <h2
                class="text-lg uppercase font-medium border-b border-dashed border-neutral-200 pb-2"
              >
                Customize Css
              </h2>
              <!-- relative -->
              <div class="relative py-6">
                <h2 class="text-xl font-semibold mb-3">
                  How to create a new style?
                </h2>
                <p class="mb-4">
                  Most of the CSS uses the Tailwind CSS utility first, so you
                  can edit it directly via the HTML file. To avoid file loss,
                  overrides of your custom styles or any other conflicts during
                  the upgrade process, create or modify your styles with add
                  your custom css/tailwind/ in <code class="text-pink-700"
                    >src/tailwind/tailwindcss.css</code
                  > file.
                </p>
                <pre>
                  <code class="language-html" data-lang="css">
                    @tailwind base;
                    @tailwind components;
                    @tailwind utilities;

                    // https://unpkg.com css
                    // your custom css
                  </code>
                </pre>
              </div>
            </div>

            <div id="docs4" class="relative mb-12">
              <h2
                class="text-lg uppercase font-medium border-b border-dashed border-neutral-200 pb-2"
              >
                Customize Js
              </h2>
              <!-- relative -->
              <div class="relative py-6">
                <h2 class="text-xl font-semibold mb-3">
                  How to create a new Javascript?
                </h2>
                <p class="mb-4">
                  Most of the Javascript uses the Alpine js, so you can edit it
                  directly via the HTML file. To avoid file loss, overrides of
                  your custom js or any other conflicts during the upgrade
                  process, create or modify your custom javascript in <code
                    class="text-pink-700">src/scripts/scroll.js</code
                  > file.
                </p>
                <pre>
                  <code class="language-html" data-lang="js">
                    // Custom JS
                    const myCustom = function () {
                      
                      // insert your javascript in here

                    }
                  </code>
                </pre>
              </div>
            </div>

            <!-- navigation -->
            <div
              class="flex items-center justify-end gap-3 py-4 border-t border-dashed border-neutral-200"
            >
              <a
                class="uppercase text-neutral-500 hover:text-black flex items-center text-sm gap-2"
                href="/coming-soon">Older Posts <i class="bi bi-arrow-right"/></a
              >
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="../scripts/smooth-scroll.ts"></script>
  </Layout>
