---
import Header from "@/components/header.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import { getCollection } from "astro:content";
import TagList from "@/components/tag-list.astro";
import PopularPosts from "@/components/popular-posts.astro";
import CategoryWidget from "@/components/category-widget.astro";
import Post from "@/components/post.astro";
const posts = await getCollection("posts");
---

<Layout>
  <Header />
  <!-- content -->
  <main class="relative">
    <!-- container -->
    <div
      class="container flex flex-col gap-4 px-4 mx-auto xl:max-w-6xl lg:gap-6"
    >
      <!-- hero -->
      <div class="flex relative flex-col gap-4 pt-4 lg:pt-6 lg:gap-6">
        <div
          class="relative overflow-hidden bg-neutral-200 w-full aspect-[1/1] sm:aspect-[3/2] md:aspect-[2/1] flex justify-center items-center"
        >
          <img
            src="/img/blogs/hero.jpg"
            alt="tailwind blog template"
            class="absolute inset-x-0 bottom-0 w-full"
          />
          <!-- card inside -->
          <div
            class="relative bg-white max-w-[80%] lg:max-w-[60%] md:min-w-[60%] aspect-[1/1] sm:aspect-[3/2] md:aspect-[2/1] p-4 sm:p-6 text-center"
          >
            <div
              class="flex overflow-hidden flex-col gap-2 items-center h-full sm:gap-3"
            >
              <span class="text-sm uppercase text-neutral-500">&nbsp;</span>
              <h1 class="text-2xl font-medium sm:text-3xl md:text-4xl">
                The Voumy Blog
              </h1>
              <p class="px-10 py-5 mb-2 text-neutral-500">
                Explore a world of insightful articles and thoughtful commentary
                that ignites inspiration and fosters meaningful connections
                through discussion...
              </p>
              <a
                href="/coming-soon"
                class="inline-flex px-4 py-2 rounded-md border border-dashed shadow transition-shadow bg-neutral-100 hover:bg-neutral-200/80 hover:shadow-md border-neutral-200"
                >Read More</a
              >
            </div>
          </div>
        </div>

        <!-- grids -->
        <div class="hidden grid-cols-1 gap-4 md:grid md:grid-cols-3 lg:gap-6">
          <!-- card item -->
          <div
            class="relative aspect-[2/1] overflow-hidden flex justify-center items-center"
          >
            <img
              src="/img/blogs/3.jpg"
              class="absolute inset-x-0 top-0 w-full"
              alt="image"
            />
            <!-- category -->
            <a href="/coming-soon" class="flex relative px-4 py-2 bg-white/80">
              Lifestyle & Travel
            </a>
          </div>
          <!-- card item -->
          <div
            class="relative aspect-[2/1] overflow-hidden flex justify-center items-center"
          >
            <img
              src="/img/blogs/8.jpg"
              class="absolute inset-x-0 top-0 w-full"
              alt="image"
            />
            <!-- category -->
            <a href="/coming-soon" class="flex relative px-4 py-2 bg-white/80">
              Journal
            </a>
          </div>

          <!-- card item -->
          <div
            class="relative aspect-[2/1] overflow-hidden flex justify-center items-center"
          >
            <img
              src="/img/blogs/6.jpg"
              class="absolute inset-x-0 top-0 w-full"
              alt="image"
            />
            <!-- category -->
            <a href="/coming-soon" class="flex relative px-4 py-2 bg-white/80">
              Reality
            </a>
          </div>
        </div>
      </div>

      <!-- layout -->
      <div class="grid grid-cols-1 gap-4 py-6 lg:grid-cols-3 lg:gap-6">
        <!-- sidebar -->
        <aside class="max-lg:order-2 lg:col-span-1 lg:pe-6">
          <div class="flex flex-col gap-4 lg:gap-6 hc-sticky">
            <CategoryWidget />

            <!-- widget -->
            <PopularPosts />

            <!-- widget -->
            <TagList />
          </div>
        </aside>

        <div class="max-lg:order-1 max-lg:mb-12 lg:col-span-2">
          <h2
            class="pb-2 text-lg font-medium uppercase border-b border-dashed border-neutral-200"
          >
            Latest Post
          </h2>
          <!-- loop post -->
          <div class="flex flex-col">
            <!-- post item -->
            {
              posts
                .sort(
                  (a, b) =>
                    b.data.dateOfPublishing.getTime() -
                    a.data.dateOfPublishing.getTime()
                )
                .slice(0, 3)
                .map((post) => <Post {post} />)
            }
          </div>

          <!-- navigation -->
          {
            posts.length > 3 && (
              <div class="gap-3 justify-end items-center py-4 border-t border-dashed border-neutral-200">
                <a
                  class="flex gap-2 items-center text-sm uppercase text-neutral-500 hover:text-black"
                  href="/coming-soon"
                >
                  Older Posts <i class="bi bi-arrow-right" />
                </a>
              </div>
            )
          }
        </div>
      </div>
    </div>
  </main>
</Layout>
