---
import Header from "@/components/header/index.astro";
import Layout from "../layouts/Layout.astro";
import {Image} from 'astro:assets'
---

<Layout>
  <Header />

  <!-- content -->
  <main class="relative">
    <!-- container -->
    <div
      class="container xl:max-w-6xl mx-auto px-4 flex flex-col gap-4 lg:gap-6"
    >
      <!-- layout -->
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-6 py-6">
        <!-- sidebar -->
        <aside class="max-lg:order-2 lg:col-span-1 lg:pe-6">
          <div class="flex flex-col gap-4 lg:gap-6 hc-sticky">
            <!-- widget -->
            <div class="bg-neutral-50 border border-dashed border-neutral-200">
              <h3
                class="w-full px-6 py-3 border-b border-dashed border-neutral-200"
              >
                Category
              </h3>
              <div class="py-3 px-6">
                <ul class="flex flex-col">
                  <li class="relative">
                    <a
                      href="#"
                      class="flex items-center gap-3 justify-between py-1.5 hover:text-black"
                    >
                      <span>Travel</span>
                      <span>(6)</span>
                    </a>
                  </li>
                  <li class="relative">
                    <a
                      href="#"
                      class="flex items-center gap-3 justify-between py-1.5 hover:text-black"
                    >
                      <span>Gadgets</span>
                      <span>(4)</span>
                    </a>
                  </li>
                  <li class="relative">
                    <a
                      href="#"
                      class="flex items-center gap-3 justify-between py-1.5 hover:text-black"
                    >
                      <span>Daily Vlog</span>
                      <span>(2)</span>
                    </a>
                  </li>
                  <li class="relative">
                    <a
                      href="#"
                      class="flex items-center gap-3 justify-between py-1.5 hover:text-black"
                    >
                      <span>Foods</span>
                      <span>(7)</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- widget -->
            <div class="bg-neutral-50 border border-dashed border-neutral-200">
              <h3
                class="w-full px-6 py-3 border-b border-dashed border-neutral-200"
              >
                Popular Post
              </h3>
              <div class="p-6 flex flex-col">
                <!-- item -->
                <a
                  href="#"
                  class="flex gap-2 py-3 border-b border-dashed last:border-b-0 border-neutral-200"
                >
                  <img loading="lazy"    src="/img/blogs/8.jpg" alt="image" class="size-16" height={64} width={64} / height={64} width={64}>
                    <div class="flex flex-col gap-1">
                      <h4 class="text-sm capitalize hover:text-black">
                        Embracing A Leisurely Pace In A Fast-Paced ...
                      </h4>
                      <span class="text-neutral-500 text-sm">12 May, 2024</span>
                    </div>
                  </Image>
                  <!-- item -->
                  <a
                    href="#"
                    class="flex gap-2 py-3 border-b border-dashed last:border-b-0 border-neutral-200"
                  >
                    <img loading="lazy"    src="/img/blogs/2.jpg" alt="image" class="size-16" height={64} width={64} / height={64} width={64}/>
                      <div class="flex flex-col gap-1">
                        <h4 class="text-sm capitalize hover:text-black">
                          How To Stay Productive While Traveling For ...
                        </h4>
                        <span class="text-neutral-500 text-sm"
                          >12 May, 2024</span
                        >
                      </div>
                    </Image>
                    <!-- item -->
                    <a
                      href="#"
                      class="flex gap-2 py-3 border-b border-dashed last:border-b-0 border-neutral-200"
                    >
                      <img loading="lazy"   
                        src="/img/blogs/5.jpg"
                        alt="image"
                        class="size-16" height={64} width={64} /
                        height={64} width={64}
                      >
                        <div class="flex flex-col gap-1">
                          <h4 class="text-sm capitalize hover:text-black">
                            Master Photography: Tips For Capturing ...
                          </h4>
                          <span class="text-neutral-500 text-sm"
                            >12 May, 2024</span
                          >
                        </div>
                      </Image>
                      <!-- item -->
                      <a
                        href="#"
                        class="flex gap-2 py-3 border-b border-dashed last:border-b-0 border-neutral-200"
                      >
                        <img loading="lazy"   
                          src="/img/blogs/1.jpg"
                          alt="image"
                          class="size-16" height={64} width={64} /
                          height={64} width={64}
                        >
                          <div class="flex flex-col gap-1">
                            <h4 class="text-sm capitalize hover:text-black">
                              The Tourist Destination That You Must Visit ...
                            </h4>
                            <span class="text-neutral-500 text-sm"
                              >12 May, 2024</span
                            >
                          </div>
                        </Image>
                      </a>
                    </a>

                    <!-- widget -->
                    <div
                      class="bg-neutral-50 border border-dashed border-neutral-200"
                    >
                      <h3
                        class="w-full px-6 py-3 border-b border-dashed border-neutral-200"
                      >
                        Tags
                      </h3>
                      <div class="p-6">
                        <ul class="flex flex-wrap items-center gap-2 text-sm">
                          <li>
                            <a
                              href="#"
                              class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                              >travel</a
                            >
                          </li>
                          <li>
                            <a
                              href="#"
                              class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                              >food</a
                            >
                          </li>
                          <li>
                            <a
                              href="#"
                              class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                              >review</a
                            >
                          </li>
                          <li>
                            <a
                              href="#"
                              class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                              >vlog</a
                            >
                          </li>
                          <li>
                            <a
                              href="#"
                              class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                              >product</a
                            >
                          </li>
                          <li>
                            <a
                              href="#"
                              class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                              >lifestyle</a
                            >
                          </li>
                          <li>
                            <a
                              href="#"
                              class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                              >health</a
                            >
                          </li>
                          <li>
                            <a
                              href="#"
                              class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                              >tips</a
                            >
                          </li>
                          <li>
                            <a
                              href="#"
                              class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                              >work</a
                            >
                          </li>
                          <li>
                            <a
                              href="#"
                              class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                              >hobby</a
                            >
                          </li>
                          <li>
                            <a
                              href="#"
                              class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                              >DIY</a
                            >
                          </li>
                          <li>
                            <a
                              href="#"
                              class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                              >tech</a
                            >
                          </li>
                          <li>
                            <a
                              href="#"
                              class="flex py-1 px-3 bg-white hover:bg-neutral-100 border border-neutral-200"
                              >AI</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </a>
                </a>

                <div class="max-lg:order-1 max-lg:mb-12 lg:col-span-2 py-4">
                  <h1
                    class="text-2xl md:text-3xl font-medium border-b border-dashed border-neutral-200 pb-3"
                  >
                    About Jesicca Thomson
                  </h1>
                  <!-- post -->
                  <div class="relative post-content pt-4">
                    <p>
                      Jesicca Thomson is more than just a photographer and
                      influencer; she is a storyteller, capturing moments that
                      speak volumes and inspire others to see the world through
                      a different lens. Born and raised in a small town, Jesicca
                      developed a deep appreciation for the beauty of nature and
                      the simplicity of life. Her journey into photography began
                      as a hobby, but it quickly evolved into a lifelong
                      passion.
                    </p>

                    <p>
                      With her camera in hand, Jesicca explores the world around
                      her, seeking out hidden gems and overlooked details.
                      Whether she's wandering through bustling city streets or
                      trekking through remote wilderness, Jesicca finds beauty
                      in the ordinary and magic in the mundane. Her photography
                      reflects her unique perspective, blending artistry with
                      authenticity to create images that resonate with viewers
                      on a deeply emotional level.
                    </p>

                    <h2>Jesicca Hobby</h2>
                    <p>
                      As an influencer, Jesicca uses her platform to share more
                      than just pretty pictures; she shares stories,
                      experiences, and insights that connect with her audience
                      on a personal level. Through her blog and social media
                      channels, Jesicca offers tips and tutorials for aspiring
                      photographers, along with glimpses into her own creative
                      process.
                    </p>
                    <ul>
                      <li>
                        At vero eos et accusamus et iusto odio dignissimos
                        ducimus qui blanditiis praesentium
                        <ol>
                          <li>
                            Itaque earum rerum hic tenetur a sapiente delectus
                          </li>
                          <li>
                            which of us ever undertakes laborious physical
                            exercise
                          </li>
                        </ol>
                      </li>
                      <li>
                        Et harum quidem rerum facilis est et expedita distinctio
                      </li>
                      <li>
                        Itaque earum rerum hic tenetur a sapiente delectus
                      </li>
                      <li>
                        which of us ever undertakes laborious physical exercise
                      </li>
                    </ul>

                    <p>
                      But Jesicca's impact extends beyond the digital realm. She
                      is also an advocate for environmental conservation and
                      social justice, using her platform to raise awareness
                      about issues that are close to her heart. Whether she's
                      organizing beach cleanups or participating in fundraisers,
                      Jesicca is committed to making a positive difference in
                      the world.
                    </p>
                    <blockquote>
                      <span class="absolute opacity-80 w-8 h-8">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="text-neutral-500"
                          viewBox="0 0 270.000000 270.000000"
                          ><g
                            transform="translate(0.000000,270.000000) scale(0.100000,-0.100000)"
                            fill="currentColor"
                            stroke="none"
                            ><path
                              d="M920 2182 c-290 -124 -482 -341 -540 -610 -30 -140 -40 -296 -40 -644 l0 -328 370 0 370 0 0 370 0 370 -181 0 -181 0 7 63 c26 243 129 387 342 477 35 15 66 29 69 32 7 7 -132 298 -143 298 -4 0 -37 -13 -73 -28z"
                            ></path><path
                              d="M2179 2186 c-249 -103 -442 -295 -520 -516 -50 -142 -61 -247 -66 -677 l-5 -393 371 0 371 0 0 370 0 370 -181 0 -181 0 7 53 c21 170 67 281 150 363 51 49 143 107 215 134 19 7 39 17 44 21 10 9 -124 298 -139 298 -5 0 -35 -10 -66 -23z"
                            ></path></g
                          ></svg
                        >
                      </span>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Integer posuere erat a ante.
                      </p>
                      <footer>
                        Quote by <cite title="Source Title">Jesicca</cite>
                      </footer>
                    </blockquote>

                    <h3>Jesicca Passion</h3>
                    <p>
                      With her passion for photography and her dedication to
                      making a difference, Jesicca Thomson is more than just a
                      photographer and influencer; she is a force for good in an
                      often chaotic world.
                    </p>
                  </div>
                  <!-- navigation -->
                  <div
                    class="flex items-center justify-end gap-3 py-4 border-t border-dashed border-neutral-200"
                  >
                  </div>
                </div>
              </div>
            </div>
          </div>

          
        </aside>
      </div>
    </div>
  </main></Layout
>
