---
import Header from "@/components/header.astro";
import Layout from "../layouts/Layout.astro";
import {Image} from 'astro:assets'
import PopularPosts from "@/components/popular-posts.astro";
import CategoryWidget from "@/components/category-widget.astro";
---

<Layout>
  <Header />

  <!-- content -->
  <main class="relative">
    <!-- container -->
    <div
      class="container flex flex-col gap-4 px-4 mx-auto xl:max-w-6xl lg:gap-6"
    >
      <!-- layout -->
      <div class="grid grid-cols-1 gap-4 py-6 lg:grid-cols-3 lg:gap-6">
        <!-- sidebar -->
        <aside class="max-lg:order-2 lg:col-span-1 lg:pe-6">
          <div class="flex flex-col gap-4 lg:gap-6 hc-sticky">
            <CategoryWidget />
            <PopularPosts />
          </div>          
        </aside>
      </div>
    </div>
  </main></Layout
>
