---
import Header from "@/components/header.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import TagList from "@/components/tag-list.astro";
import PopularPosts from "@/components/popular-posts.astro";
import CategoryWidget from "@/components/category-widget.astro";

import Post from "@/components/post.astro";
import { getCollection } from "astro:content";
const q = new URL(Astro.request.url).searchParams.get("q");

const searchedPosts = await getCollection("posts", ({ data }) => {
  if (!q) return true;
  return data.title.toLowerCase().includes(q.toLowerCase());
});
---

<Layout>
  <Header />

  <!-- content -->
  <main class="relative">
    <!-- Hero -->
    <div class="text-center border-b border-dashed border-neutral-200">
      <div class="px-6 py-12 mx-auto max-w-2xl">
        <h2 class="mb-6 text-2xl font-medium lg:text-3xl">
          Search: {q ?? "Lifestyle"}
        </h2>
        <div class="relative max-w-[150px] mx-auto mb-6">
          <div class="w-full h-1 border-b-2 border-dashed border-neutral-200">
          </div>
          <div
            class="absolute -top-2.5 rounded-full border-2 border-dashed translate-x-2.5 end-1/2 size-6 bg-neutral-100 border-neutral-200"
          >
          </div>
        </div>
        <div class="flex overflow-hidden relative w-full max-w-full">
          <label for="search-result" class="hidden">Search</label>
          <input
            type="text"
            value="Lifestyle"
            class="overflow-x-auto relative px-5 py-3 w-full h-12 leading-5 bg-white border text-neutral-800 border-neutral-200 focus:outline-none focus:border-neutral-400 focus:ring-0 peer"
            id="search-result"
          />
          <!-- icon -->
          <button
            class="flex absolute top-0 justify-center items-center border size-12 end-0 border-neutral-200 bg-neutral-100 peer-focus:border-neutral-400"
          >
            <span class="text-base leading-none bi bi-search"></span>
          </button>
        </div>
      </div>
    </div>

    <!-- container -->
    <div
      class="container flex flex-col gap-4 px-4 mx-auto xl:max-w-6xl lg:gap-6"
    >
      <!-- layout -->
      <div class="grid grid-cols-1 gap-4 py-6 lg:grid-cols-3 lg:gap-6 lg:py-12">
        <!-- sidebar -->
        <aside class="max-lg:order-2 lg:col-span-1 lg:pe-6">
          <div class="flex flex-col gap-4 lg:gap-6 hc-sticky">
            <!-- widget -->
            <CategoryWidget />

            <PopularPosts />

            <TagList />
          </div>
        </aside>

        <div class="max-lg:order-1 max-lg:mb-12 lg:col-span-2">
          <h2
            class="pb-2 text-lg font-medium uppercase border-b border-dashed border-neutral-200"
          >
            Search results: Lifestyle
          </h2>
          <!-- loop post -->
          <div class="flex flex-col">
            <!-- post item -->
            {searchedPosts.map((post) => <Post {post} />)}
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
