---
// export const prerender = false

import tts from "@/utils/tts";
const q = Astro.url.searchParams.get("q") || "Hello World";
const audios = await tts(q);
---

<main class="min-h-screen flex flex-col space-y-8 items-center justify-center">
  <p class="italic text-2xl">"{q}"</p>
  <audio controls>
    {audios.map((aud) => <source src={aud} type="audio/mpeg" />)}
  </audio>
</main>
