---
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
const categoryMap: Record<string, number> = {};

for (const post of posts) {
  const category = post.data.category;
  if (category in categoryMap) categoryMap[category] += 1;
  else categoryMap[category] = 1;
}
---

<!-- widget -->
<div class="border border-dashed bg-neutral-50 border-neutral-200">
  <h3 class="px-6 py-3 w-full border-b border-dashed border-neutral-200">
    Category
  </h3>
  <div class="px-6 py-3">
    <ul class="flex overflow-y-scroll flex-col max-h-60">
      {
        Object.entries(categoryMap).map(([category, count]) => (
          <li class="relative">
            <a
              href={`/categories/${category}`}
              class="flex gap-3 justify-between items-center py-1.5 hover:text-black"
            >
              <span class="capitalize">{category}</span>
              <span class="px-4 py-px rounded-2xl bg-neutral-200/50">{count}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
