 <!-- comments -->
 <div id="comments" class="py-6 md:py-8">
  <!--title-->
  <h3 class="mb-6 w-full text-xl">5 Comments</h3>

  <!--comment list-->
  <ol class="mb-6">
    <li class="relative">
      <div class="pb-4 border-b border-dashed border-neutral-200">
        <footer>
          <img
            class="float-left mr-4 max-w-full border border-dashed size-16 border-neutral-200"
            src="/img/personal/avatar2.jpg"
            alt="avatar"
            height={64}
            width={64}
            height={64}
            width={64}
          />
          <div>
            <a
              class="mb-2 text-lg font-medium leading-normal"
              href="#"
              target="_blank">Robert Villa</a
            >
            <span class="text-sm md:float-right">
              <time datetime="2020-10-27">May 27, 2024</time>
            </span>
          </div>
        </footer>
        <div>
          <p class="text-neutral-500">
            I like this themes, fast loading and look profesional
          </p>
        </div>
        <div>
          <a
            class="text-orange-700 hover:text-orange-800"
            href="#comment-form">Reply</a
          >
        </div>
      </div>
      <ul class="ms-12 md:ms-24">
        <li class="py-4">
          <div class="pb-4 border-b border-dashed border-neutral-200">
            <footer>
              <img
                class="float-left mr-4 max-w-full border border-dashed size-16 border-neutral-200"
                src="/img/personal/avatar.jpeg"
                alt="avatar"
                height={64}
                width={64}
                height={64}
                width={64}
              />
              <div>
                <a
                  class="mb-2 text-lg font-medium leading-normal"
                  href="#"
                  target="_blank">Jesicca Thomson</a
                >
                <span class="text-sm md:float-right">
                  <time datetime="2020-10-27">May 27, 2024</time>
                </span>
              </div>
            </footer>
            <div>
              <p class="text-neutral-500">Thank you Robert!</p>
            </div>
            <div>
              <a
                class="text-orange-700 hover:text-orange-800"
                href="#comment-form">Reply</a
              >
            </div>
          </div>
          <ul class="md:ms-24">
            <li class="py-4" id="comment-5">
              <div
                class="pb-4 border-b border-dashed border-neutral-200"
              >
                <footer>
                  <img
                    class="float-left mr-4 max-w-full border border-dashed size-16 border-neutral-200"
                    src="/img/personal/avatar2.jpg"
                    alt="avatar"
                    height={64}
                    width={64}
                    height={64}
                    width={64}
                  />
                  <div>
                    <a
                      class="mb-2 text-lg font-medium leading-normal"
                      href="#"
                      target="_blank">Robert Villa</a
                    >
                    <span class="text-sm md:float-right">
                      <time datetime="2020-10-27">May 27, 2024</time>
                    </span>
                  </div>
                </footer>
                <div>
                  <p class="text-neutral-500">You're welcome!</p>
                </div>
                <div>
                  <a
                    class="text-orange-700 hover:text-orange-800"
                    href="#comment-form">Reply</a
                  >
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="relative">
      <div class="pb-4 border-b border-dashed border-neutral-200">
        <footer>
          <img
            class="float-left mr-4 max-w-full border border-dashed size-16 border-neutral-200"
            src="/img/personal/avatar.jpeg"
            alt="avatar"
            height={64}
            width={64}
            height={64}
            width={64}
          />
          <div>
            <a
              class="mb-2 text-lg font-medium leading-normal"
              href="#"
              target="_blank">Jesicca Thomson</a
            >
            <span class="text-sm md:float-right">
              <time datetime="2020-10-27">May 27, 2024</time>
            </span>
          </div>
        </footer>
        <div>
          <p class="text-neutral-500">
            Please support me with give positive rating!
          </p>
        </div>
        <div>
          <a
            class="text-orange-700 hover:text-orange-800"
            href="#comment-form">Reply</a
          >
        </div>
      </div>
      <ul class="ms-12 md:ms-24">
        <li class="py-4">
          <div class="pb-4 border-b border-dashed border-neutral-200">
            <footer>
              <img
                class="float-left mr-4 max-w-full border border-dashed size-16 border-neutral-200"
                src="/img/personal/avatar2.jpg"
                alt="avatar"
                height={64}
                width={64}
                height={64}
                width={64}
              />
              <div>
                <a
                  class="mb-2 text-lg font-medium leading-normal"
                  href="#"
                  target="_blank">Robert Villa</a
                >
                <span class="text-sm md:float-right">
                  <time datetime="2020-10-27">May 27, 2024</time>
                </span>
              </div>
            </footer>
            <div>
              <p class="text-neutral-500">Yes Sure!</p>
            </div>
            <div>
              <a
                class="text-orange-700 hover:text-orange-800"
                href="#comment-form">Reply</a
              >
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ol>

  <!--comment form-->
  <div id="comment-form">
    <h4 class="mb-2 text-xl leading-normal">LEAVE A REPLY</h4>
    <p class="mb-6">Your email address will not be published</p>
    <div>
      <form action="#" novalidate="">
        <div class="mt-2"></div>
        <div class="mb-6">
          <textarea
            class="overflow-x-auto relative px-5 py-3 w-full leading-5 bg-white border text-neutral-800 border-neutral-200 focus:outline-none focus:border-neutral-400 focus:ring-0"
            placeholder="Comment"
            aria-label="insert comment"
            rows="4"
            required=""></textarea>
        </div>
        <div class="mb-6">
          <input
            class="overflow-x-auto relative px-5 py-3 w-full leading-5 bg-white border text-neutral-800 border-neutral-200 focus:outline-none focus:border-neutral-400 focus:ring-0"
            placeholder="Name"
            aria-label="name"
            type="text"
            required=""
          />
        </div>
        <div class="mb-6">
          <input
            class="overflow-x-auto relative px-5 py-3 w-full leading-5 bg-white border text-neutral-800 border-neutral-200 focus:outline-none focus:border-neutral-400 focus:ring-0"
            placeholder="Email"
            aria-label="email"
            type="text"
            required=""
          />
        </div>
        <div class="mb-6">
          <input
            class="overflow-x-auto relative px-5 py-3 w-full leading-5 bg-white border text-neutral-800 border-neutral-200 focus:outline-none focus:border-neutral-400 focus:ring-0"
            placeholder="Website:"
            aria-label="website"
            type="text"
          />
        </div>
        <div class="mb-6">
          <div>
            <input
              class="w-5 h-5 text-orange-500 border form-checkbox border-neutral-100 focus:outline-none accent-orange-500"
              id="comment-cookies"
              name="comment-cookies"
              type="checkbox"
              value="yes"
            />
            <label class="ms-2" for="comment-cookies">
              Save my name, email, and website in this browser for the
              next time I comment.
            </label>
          </div>
        </div>
        <button
          type="submit"
          class="flex items-center px-5 py-3 leading-5 bg-black text-neutral-100 hover:text-white hover:bg-neutral-900 hover:ring-0 focus:outline-none focus:ring-0"
          >Post Comment</button
        >
      </form>
    </div>
  </div>
</div>