---
import PagesDropdown from "./pages-dropdown.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
const categories = [...new Set(posts.map((post) => post.data.category)).keys()];

import AccountShare from "@/components/accounts/share.astro";
const searchPosts = posts.map((post) => ({
  title: post.data.title,
  slug:`/posts/${post.slug}`,
}));
---

<!-- header -->
<header
  x-data={`{ navtoggle: false, searchTerm: '', searchPosts: ${JSON.stringify(searchPosts)}}`}
  class="flex flex-col"
>
  <!-- top -->
  <div class="border-b border-dashed border-neutral-200">
    <div
      class="container flex gap-3 justify-between items-center px-4 mx-auto xl:max-w-6xl"
    >
      <ul class="flex items-center text-sm max-sm:grow max-sm:overflow-hidden">
        <li class="relative">
          <a href="/" class="px-3 py-1.5 hover:text-neutral-900">Home</a>
        </li>
        <li class="relative">
          <a href="/contact" class="px-3 py-1.5 hover:text-neutral-900">About</a>
        </li>
        <!-- <li class="relative">
          <a href="docs" class="px-3 py-1.5 hover:text-neutral-900">Docs</a>
        </li> -->
      </ul>

      <AccountShare />
    </div>
  </div>

  <div x-data="{ searchtoggle: false }" class="flex flex-col">
    <!-- logo & Button-->
    <div class="mob-sticky max-md:z-20 max-md:bg-white">
      <div
        class="container flex gap-3 justify-between items-center px-4 mx-auto xl:max-w-6xl md:justify-center"
      >
        <button
          @click="navtoggle = !navtoggle"
          class="text-2xl size-10 md:hidden"
        >
          <i
            :class="{ 'block': navtoggle, 'hidden': !(navtoggle) }"
            class="bi bi-x-lg"
          >
          </i>
          <i
            :class="{ 'hidden': navtoggle, 'block': !(navtoggle) }"
            class="bi bi-list"
          >
          </i>
        </button>

        <a href="/" class="py-4 md:py-6 lg:py-12">
          <h2 class="text-4xl font-medium md:text-5xl font-voumy">Voumy</h2>
          <h3 class="text-sm md:text-lg font-slogan">
            Where words become alive
          </h3>
          <!-- <img loading="lazy"    src="..//img/logo.png"> -->
        </a>
        <!-- <img src="logo.svg" class="max-h-60"/> -->
        <button
          @click="searchtoggle = !searchtoggle"
          class="text-xl size-10 md:hidden"
        >
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>

    <!-- menu -->
    <nav
      id="target-nav"
      :class="{ 'show': navtoggle, '': !(navtoggle) }"
      class="nav-sticky max-md:fixed max-md:w-72 max-md:inset-y-0 max-md:left-0 max-md:[&.show]:translate-x-0 bg-white md:border-y border-dashed border-neutral-200 z-50 max-md:-translate-x-full transition-transform duration-300"
    >
      <div
        class="py-2 mb-1.5 text-xs text-center uppercase border-b md:hidden text-neutral-500 border-neutral-100"
      >
        Menu
      </div>
      <!-- menu -->
      <ul
        class="flex relative text-sm uppercase md:items-center md:justify-center max-md:flex-col max-md:h-full max-md:overflow-auto md:text-base"
      >
        <!-- dropdown -->

        {
          categories.map((category) => (
            <li class="relative">
              <a
                href={"/categories/" + category}
                class="uppercase py-2 px-4 flex max-md:justify-between gap-2 [&.active]:text-black [&.active]:bg-neutral-100 hover:text-black hover:bg-neutral-100"
              >
                {category}
              </a>
            </li>
          ))
        }

        <PagesDropdown />

        <li class="relative max-md:hidden">
          <button
            @click="searchtoggle = !searchtoggle"
            class="py-2 px-4 flex max-md:justify-between gap-2 [&.active]:text-black [&.active]:bg-neutral-100 hover:text-black hover:bg-neutral-100"
          >
            <i class="bi bi-search"></i>
          </button>
        </li>
      </ul>
      <!-- credit -->
      <div
        class="absolute inset-x-0 bottom-0 py-2 mb-2 text-xs text-center md:hidden text-neutral-500"
      >
        Copyright 2024
      </div>
    </nav>
    <!-- bg mobile sidebar -->
    <button
      @click="navtoggle = !navtoggle"
      :class="{ 'show': navtoggle, '': !(navtoggle) }"
      class="max-md:fixed max-md:bg-black max-md:[&.show]:inset-0 max-md:opacity-0 max-md:[&.show]:opacity-50 max-md:[&.show]:z-30 transform duration-300 lg:hidden"
    >
    </button>

    <!-- modal search -->
    <div
      x-show="searchtoggle"
      class="z-[60] overflow-auto inset-0 w-full h-full fixed py-6"
    >
      <div
        @click.away="searchtoggle = false"
        class="z-[60] relative p-3 mx-auto my-0 max-w-full sm:max-w-[500px] opacity-0 [&.show]:opacity-100"
        :class="! searchtoggle ? '' : 'show'"
        x-show="searchtoggle"
        x-transition.duration.500ms
      >
        <div
          class="flex overflow-hidden flex-col bg-white rounded border border-neutral-200"
        >
          <!-- modal content -->
          <div class="flex flex-col p-6">
            <div class="flex gap-3 justify-between items-center mb-3">
              <h3 class="text-lg">Search</h3>
              <button
                @click="searchtoggle = false"
                class="text-2xl font-semibold fill-current">×</button
              >
            </div>
            <div class="flex overflow-hidden relative mb-8 w-full max-w-full">
              <label for="search-form" class="hidden">Search</label>
              <input
                type="text"
                class="overflow-x-auto relative px-5 py-3 w-full h-12 leading-5 bg-white border text-neutral-800 border-neutral-200 focus:outline-none focus:border-neutral-400 focus:ring-0 peer"
                id="search-form"
                x-model="searchTerm"
              />
              <!-- icon -->
              <button
                class="flex absolute top-0 justify-center items-center border size-12 end-0 border-neutral-200 bg-neutral-100 peer-focus:border-neutral-400"
              >
                <span class="text-base leading-none bi bi-search"> </span>
              </button>
            </div>
            <ul class="max-h-80 overflow-y-scroll">
              <template x-for="searchPost in searchPosts">
                <li
                  class="relative"
                  x-show="searchPost.title.toLowerCase().includes(searchTerm.toLowerCase())"
                >
                  <a
                    x-bind:href="searchPost.slug"
                    class="block py-2 px-4 text-sm text-neutral-800 hover:bg-neutral-100 hover:text-black"
                    x-html="searchPost.title.replace(new RegExp('(searchTerm)', 'i'), `<span class='font-bold text-black bg-yellow-300'>$1</span>`) "
                  ></a>
                </li></template
              >
            </ul>
          </div>
        </div>
      </div>
      <!-- bg modal -->
      <div
        class="overflow-auto fixed inset-0 z-40 w-full h-full bg-black opacity-50"
      >
      </div>
    </div>
  </div>
</header>
